{% extends "blog/base.html" %}

{% block title %}Comment Detail{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>Published {{ post.publish }} by {{ post.author }}</p>
{{ post.body }}

<h2>Comment by
    {% if comment.author %}
    {{ comment.author.username }}
    {% else %}
    {{ comment.name }}
    {% endif %}
    on {{ comment.created }}
</h2>
<div>
    {{ comment.body|safe }}
</div>

<!-- Display the replies -->
<h3>Replies:</h3>
{% include "blog/post/includes/replies.html" with comments=replies post=post %}

<!-- Link to add a reply to this comment -->
<p>
    <a href="{% url 'posts:comment_reply' pk=post.pk parent_comment_id=comment.pk %}">Reply to this Comment</a>
</p>

{% endblock %}