{% extends "blog/base.html" %}

{% block title %}Comment Detail{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>Published {{ post.publish }} by {{ post.author }}</p>
{{ post.body }}

<h2>Comment by
    {% if comment.author %}
    {{ comment.author.username }}
    {% else %}
    {{ comment.name }}
    {% endif %}
    on {{ comment.created }}
</h2>
<div>
    {{ comment.body|safe }}
</div>

{% if comment.image %}
<div>
    <a href="{{ comment.image.url }}" data-lightbox="image-1">
        <img src="{{ comment.image.url }}" alt="Image" style="max-width: 40px; max-height: 30px;">
    </a>
</div>
{% endif %}
{% if comment.text_file %}
<div>
    <a data-fancybox data-type="ajax" data-src="{% url 'posts:text_file_view' comment.id %}" href="javascript:;">
        View Text File
    </a>
</div>
{% endif %}

<!-- Display the replies -->
<h3>Replies:</h3>
{% include "blog/post/includes/replies.html" with comments=replies post=post %}

<!-- Link to add a reply to this comment -->
<p>
    <a href="{% url 'posts:comment_reply' pk=post.pk parent_comment_id=comment.pk %}">Reply to this Comment</a>
</p>

{% endblock %}