<div style="margin-left: 32px;">
    {% if comment.author %}
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.author }} on {{ comment.created }}
    </p>
    {% else %}
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }} on {{ comment.created }}
    </p>
    {% endif %}
    <div>
        {{ comment.body|safe }}
    </div>
    {% if comment.image %}
    <div>
        <a href="{{ comment.image.url }}" data-lightbox="image-1">
            <img src="{{ comment.image.url }}" alt="Image" style="max-width: 40px; max-height: 30px;">
        </a>
    </div>
    {% endif %}
    {% if comment.text_file %}
    <div>
        <a data-fancybox data-type="ajax" data-src="{% url 'posts:text_file_view' comment.id %}" href="javascript:;">
            View Text File
        </a>
    </div>
    {% endif %}
    <p>
        <a href="{% url 'posts:comment_reply' pk=post.pk parent_comment_id=comment.pk %}#comment-form">Reply</a>
    </p>
    {% for reply in comment.replies.all %}
    {% include "blog/post/includes/comment.html" with comment=reply level=level|add:20 post=post %}
    {% endfor %}
</div>